h3{
	color: green;
	font-size: 30px ;
	border: 7px solid pink ;
}
h4{
	color: blue ;
}
.bg-yellow{
	background-color: yellow ;
}

.border{
	border:4px dashed red ;
}
#h4{
	font-size: 30px ;
}
div{
	background-color: rgba(194, 31, 31, .3) ;
	width: 100%;
	height: 100px;
}